

<h1>Followers Users</h1>
<% if @users.count > 0 %>
<table class='table'>
  <theed>
    <tr>
      <th>image</th>
      <th>name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </theed>

 <tbody>
  <% @user.followers.each do |user| %>
      <tr>
        <td><div><%= attachment_image_tag user, :profile_image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %></div>
          </td>
          <td>  <%= user.name %> </td>
            <td>
              フォロー数
            <%= user.followings.count %>
          </td>
            <td>フォロワー数
            <%= user.followers.count %>
          </td>
  <td><%= link_to '詳細', user_path(user) %></td>
</tr>

<% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>
</tbody>
</table>