<div class="container">
  <div class="row">
    <div class="col-xs-3">
    <%= render 'users/list',{user:current_user} %>
     <%= render 'newbook',{book:@book} %>
    </div>

    <div class="col-xs-9">
      <table class="table table-striped">
        <h1>Book detail</h1>
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
      <tr>
        <th>
<%= attachment_image_tag @user, :profile_image, :fill, 50, 50, format:'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg" %>
  <%= link_to @user.name ,user_path(@user.id) %>
</th>
<th><%= @book.title %></th>
<th><%= @book.body %></th>


<th>
<% if @book.user == current_user %>
<%= link_to "Edit",edit_book_path %>
|
<%= link_to "Destroy", book_path, method: :delete %>
</th>
<% end %>

<!-- ファボ機能 -->
<th>
<% if @book.favorited_by?(current_user) %>

  <%= link_to book_favorites_path(@book), method: :delete do %>

  <%= @book.favorites.count %> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <% end %>
</th>
<th>
<% else %>
<%= link_to book_favorites_path(@book), method: :post do %>
    <%= @book.favorites.count %>  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
  <% end %>
</th>
<% end %>

    </tr>
  </table>
</div>
</div>
</div>
